<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCBwjsrcrKDIIGSrpI61eKwdaUudDmv8as</string>
	<key>GCM_SENDER_ID</key>
	<string>503112804518</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rithtech.ulearningApp</string>
	<key>PROJECT_ID</key>
	<string>ulearning-e6f7e</string>
	<key>STORAGE_BUCKET</key>
	<string>ulearning-e6f7e.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:503112804518:ios:9646e80df0c5f34c87ec67</string>
</dict>
</plist>